<h4>Average Rating</h4>
<div class="average">

  <%  average_stars = @product.reviews.sum(:rating).to_f / @product.reviews.count.to_f %>

  <% (1..average_stars).each do %>
    <span><%= fa_icon('star') %></span>
  <% end %>

  <span><%= fa_icon('star-half-o') if average_stars % 1 != 0 %></span>

  <% (1..5 - average_stars).each do %>
    <span><%= fa_icon('star-o') %></span>
  <% end %>

  <span>
    <b><%= average_stars.round(1) %> out of 5 stars</b>
  </span>

</div>
